<div>
    <h2>Consultar</h2>
    <p-button label="Consultar Clientes" styleClass="p-button-raised p-button-text" (click)="consultarTotal()"></p-button>
    <p-button label="Consultar por Id" styleClass="p-button-raised p-button-text" (click)="consultarIndividual()"></p-button>
</div>
<br>
<br>
<div>   
  <p-table [value]="clientes" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Tipo Doc</th>
            <th>Num Doc</th>
            <th>Direccion</th>
            <th>Correo</th>
            <th>Celular</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>       
        <tr>
            <td>{{cliente.tipoDocumento}}</td>
            <td>{{cliente.documento}}</td>
            <td>{{cliente.direccion}}</td>
            <td>{{cliente.correo}}</td>
            <td>{{cliente.celular}}</td>
        </tr>        
    </ng-template>
  </p-table> 
</div>
  
