<div>
    <h2>Añadir</h2>
    <!--<div class="flex flex-column gap-2">
        <label htmlFor="username">Username</label>
        <input pInputText id="username" aria-describedby="username-help"/>
        <small id="username-help">Enter your username to reset your password.</small>
    </div>-->
    <form>      
      <div class="form-group">
        <label for="documento">Documento *</label>
        <input type="text" id="documento" name="documento" required>
      </div>
      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" name="direccion">
      </div>
      <div class="form-group">
        <label for="correo">Correo</label>
        <input type="text" id="correo" name="correo">
      </div>
      <div class="form-group">
        <label for="celular">Celular</label>
        <input type="text" id="celular" name="celular">
      </div>
      <div class="form-group">
        <label for="tipoDocumento">Tipo de Documento</label>
        <select id="tipoDocumento" name="tipoDocumento">
          <option value="CC">CC</option>
          <option value="TI">TI</option>
          <option value="CE">CE</option>
        </select>
      </div>
      <p-button label="Guardar" styleClass="p-button-raised p-button-text" (click)="guardar()"></p-button>
    </form>
  </div>
  
